<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <style>
        .abc{
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            

        }
    </style>
</head>
<body>
    
    <div class="abc">
        <h2>Attendance System using face detection</h2>
    {% block content %}

    {% endblock %}
    </div>
</body>
</html>